@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(77, 72, 85);
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-color: blue;
    background: url(../imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 21px;
    width: 267px;
    height: 471px;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 2px 3px 3px #00000046;
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    border: 2px solid #ffffffa6;
    transform: translate(-3px, -3px);
    box-shadow: 4px 4px 6px #00000046;
    transition: transform 0.2s;
}